:root {
    --gray: #eaebef;
}

body,
button,
input,
.card {
    background: var(--gray);
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

.ml-n1 {
    margin-left: -1rem;
}
.container {
    padding-top: 2rem;
}

.col-md-4 {
    margin-bottom: 1rem;
}

.neomorphic {
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2),
        -3px -3px 6px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.3s ease;
}

.neomorphic:hover,
.neomorphic:focus,
.neomorphic:active,
.neomorphic:target {
    box-shadow: inset 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2),
        inset -1.5px -1.5px 3px 0 rgba(255, 255, 255, 0.5) !important;
}

.neomorphic-shadow {
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2),
        -3px -3px 6px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.3s ease;
}

.neomorphic--disabled {
    border-radius: 10px;
    box-shadow: inset 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2),
        inset -1.5px -1.5px 3px 0 rgba(255, 255, 255, 0.5);
}
